/target/

# Eclipse and Maven
.classpath
.project
bin
target
.cache
dependency-reduced-pom.xml
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.jdt.apt.core.prefs
/.settings/org.eclipse.m2e.core.prefs

# Intellij
.idea
# Intellij recommends to share iml files, however, better don't share files which might be outdated
*.iml

# Others
.DS_Store
*.swp
**/local
Scripts
.dbeaver*
pom.xml.versionsBackup
local
**/*.log
.directory
venv/
~*
*.lock
*.bak
*.orig
*.old
*.md.html
*.flattened-pom.xml
/.apt_generated/
/.apt_generated_tests/
